.attende-icon {
    padding-top: 28px;
    align-items: center;
}

.attende-icon h3 {
    font-size: 1em;
}

.attende-icon img {
    margin-right: 22px;
}

.step {
    font-size: 14px;
    padding: 8px 0;
}

.step span {
    font-weight: bold;
}